<div>
    <h1> Happy birthday!</h1>
    <h3 [hidden]="!isCandleLit">blow out the candle</h3>
    <h3 [hidden]="isCandleLit">open the card</h3>
    <div></div>
    <div class="card" (click)="openCard()"> 
        <div class="cake" [hidden]="!isCandleLit && cardOpen">
            <div class ="candle" style="display: flex; flex: row;">
                <div class="flame" [hidden]="!isCandleLit" (click)="blowOut()"></div>
                <div class="wax"></div>
            </div>
            <div class="layer-1"></div>
            <div class="layer-2"></div>
            <div class="layer-3"></div>
        </div>

        <div class="card-message" [hidden]="isCandleLit || !cardOpen">
            <p>Happy birthday 哥哥!</p>
            <p>I hope you suffer with less back pain today, unc</p>
        </div>
    </div>
</div>
